<% if current_user.admin?%>
<div class="form-wrapper">
  <%= form_for @house, html: { class: 'form-horizontal', multipart: true } do |f| %>
 
   <div class="form-group">
   <div class="col-lg-3">
      <%= f.label :name, :Description %>
      </div>
   <div clCass="col-lg-9">

      <%= f.text_area :name%>
    </div>
    </div>
    <div class="form-group">
   <div class="col-lg-3">

      <%= f.label :image %>
      </div>
   <div class="col-lg-9">

      <%= f.file_field :image %>
    </div>
    </div>
    
    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
    <% end%>
  </div>
  <% end %>